body {
	font-family: Helvetica, sans-serif;
	font-weight: lighter;
}

header {
	display: flex;
}

footer {
	background-color: whitesmoke;
	display: flex;
	justify-content: space-around;
	padding-bottom: 3em;
}

main {

}

article {
	padding: 2% 7% 5% 7%;
	position: relative;
}
article > header > h1 {
	text-decoration: none;
}

table > tbody.comparison {
	text-align: right;
}

table > thead#rates-header {
	text-align: right;
}

.table-header-sm {
	font-weight: lighter;
}

.table-header-sm > * {
	margin: 1%;
	font-weight: 300;
}

.divider {
	font-size: 1.5em;
	font-weight: lighter;
}

.emphasis {
	font-size: large;
	font-weight: bold;
}

.promotion {
	padding: 0.05em 15% 0 4%;
	background-color: #bbd8c4;
	margin-bottom: 2em;
	position: relative;
}

table#rates-table {
	width: 100%;
	border-collapse: collapse;
}

table#rates-table > thead {
	margin: 0;
}

.login-button {
	margin-right: 1.5em;
	height: 100%;
	width: 15%;
	margin-top: 1.5em;
	background-color: #640360;
}

button.login-button > h2,h3,h4 {
	color: white;
	font-weight: lighter;
}

tr.patterned-row {
	margin: 0;
}

tr.patterned-row > td {
	padding: 1%;
	margin: 0;
}

.thin-text {
	font-weight: 300;
}

tr.patterned-row:nth-child(even) {
	background-color: #dfdfdf;
}

tr.patterned-row:nth-child(odd) {
	background-color: #efefef;
}

.urbank-darkgrey {
	color: rgb(47, 47, 47);
}
.urbank-black {
	color: rgb(57, 57, 57);
}
.urbank-purple {
	color: #640360;
}

.tagline {
	font-size: xx-large;
	font-weight: lighter;
	letter-spacing: -1px;
}

.reason-list {
	margin-bottom: 2em;
	margin-top: 0em;
	padding: 1em;
}

ul.reason-list > li {
	font-weight: lighter;
}

.width-90 {
	width: 90%;
}

.half-top-margin {
	margin-top: 0.5em;
}

.half-bottom-margin {
	margin-bottom: 0.5em;
}

.half-bottom-padding {
	padding-bottom: 0.5em;
}

.flat-top-margin {
	margin-top: 0px;
}

.flat-bottom-margin {
	margin-bottom: 0px;
}

.bank-format {
	text-align: left;
}
.spread-out {
	width: 100%
}

.percentage {
	text-align: right;
}

.percentage::after {
  content: '%';
}

.dollar-format::before {
	content: '$';
}

.float-right {
	margin-left: auto;
}

.justify-right {
	text-align: right;
}

.tab-topic {
	color: #2c93ba;
}

.custom-grey {
	color: #7f7f7f;
}

.tab-selection {
	overflow: hidden;
}

.tab-stack {
	position: relative;
}

section.main-topic {
	width: 60%;
}

section.tab {
	position: absolute;
	background-color: #efefef;
	border-top-width: 0px;
	border-right-width: 0px;
	border-left-width: 0px;
	border-bottom-width: 0px;
	border-top-color: #7f7f7f;
	border-style: solid;
	width: 95%;
}

section.tab > * {
	padding: 0em 1em;
}

button {
	border: none;
	outline: none;
	margin: 0;
}

button.tab-name {
	padding: 0.4em 1em;
	font-size: larger;
	border-left-width: 0px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-right-width: 1px;
	border-color: #7f7f7f;
	border-style: solid;
	color: #2c93ba;
}

button.tab-name.selected {
	border-bottom-width: 1px;
	border-bottom-color: #efefef;
	padding-top: 0.85em;
	color: #7f7f7f;
}

.hidden {
	display: none;
}
section > p {
	color: #545454;
}

aside {
	float: right;
	width: 30%;
}

aside > * {
	margin: 0;
}


.pad-vert-top-1 {
	padding-top: 1em;
}

.urbank-link {
	color: #2d91c5;
}

.image {
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto;
	background-origin: padding-box;background-position: 
}

.phone-img {
	margin-left: 80%;
	margin-top: -12em;
	position: absolute;
}

.urbank-logo {
	padding: 0.5em 0px;
}

@media screen and (min-width: 1920px) {
	.urbank-logo.img-scale {
		background-image: url('assets/img/urbank@2x.png');
		width: 208px;
	}

	.phone-img.img-scale {
		background-image: url('assets/img/iphone@2x.png');
		width: 208px;
		height: 354px;
	}
}

@media screen and (min-width: 1280px) {
	.urbank-logo.img-scale {
		background-image: url('assets/img/urbank.png');
		width: 152px;
	}

	.phone-img.img-scale {
		background-image: url('assets/img/iphone.png');
		width: 104px;
		height: 177px;
	}
}


.flex-right {
	margin-right: auto;
}

.flex-left {
	margin-left: auto;
}

.copyright {
	padding-top: 1%;
	padding-left: 7%;
}

.nav-bar {
	display: flex;
	justify-content: space-around;
}

nav.nav-bar {
	background-color: #318fc2;
	margin: auto -15%;	
}

.nav-bar > ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
}

.nav-bar > ul > li {
	display: inline-block;
	text-transform: lowercase;
	padding: 1em 1em;
	margin: 0em 0.1em;
}

.nav-bar.hoverable > ul > li:hover {
	font-weight: bold;
}

nav.nav-bar.hoverable > ul > li:hover {
	background: #006999;
}

/*
    Bolding the text changes the size of the container. 
    Make room for bold text to prevent this unwanted side-effect.
*/
.nav-bar.hoverable > ul > li::after {
  display: block;
  content: attr(aria-label);
  font-weight: bold;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.nav-bar > ul > li > a {
	text-decoration: none;
	flex-shrink: 1;
}


nav.nav-bar > ul > li > a {
	color: white;
}


footer > div.nav-bar {
	padding-right: 7%;
}

footer > div.nav-bar > ul > li > a {
	color: #2c93ba;
}

body {
	margin: 0;
}

html {
	height: 100%;
}

.center-text {
	text-align: center;
}

.modal-content {
	margin: 5% 35% auto auto;
	width: 30%;
	background-color: whitesmoke;
	height: 40%;
	box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.4), 0 1px 10px 0 rgba(0, 0, 0, 0.6);
	padding: 0.5em;
}

.modal {
	display: none;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.2);
	position: fixed;
	z-index: 1;
	width: 100%;
	height: 100%;
	overflow: auto;
	left: 0;
	top: 0;
}

.modal.open {
	display: block;
}